:root {
    --orange: #f58220;
    --orangeLigth: #F99037;
}

.containerRegister {
    font-family: Arial,Helvetica,sans-serif,
    Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    display:flex;
    flex-direction:column;
    /*//color: #b9b9b9;*/
}

.titleForm {
    color: var(--orange);
    padding: 0;
    margin: 0.5em 0;
}

.containerRegister .inputText, .containerRegister input[type="radio"] + label, .containerRegister select {
    width: 92.5%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    /*color:var(--orange);*/
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.containerRegister .inputTextIcon {
    width: 70%;
    line-height: 1.4;
    background-color: #f9f9f9;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border: none;
    font-weight:500;
}

.containerRegister .inputText:focus {
    outline: 0;
    border-color: var(--orange);
}

.inputText:focus + .input-icon i {
    color: var(--orange);
}

.input-group {
    
    zoom: 1;
}

    .input-group:before,
    .input-group:after {
        content: "";
        display: table;
    }

    .input-group:after {
        clear: both;
    }

.input-group-icon {
    position: relative;
}

.input-group-icon .inputText {
    padding-left: 4.4em;
}
    .input-group-icon .input-icon-text {
        position: absolute;
        top: 0em;
        left: 0em;
        bottom: 0em;
        width: 3.4em;
        height: 3.4em;
        line-height: 3.4em;
        text-align: center;
        pointer-events: none;
        font-size:2em;
    }
    .input-group-icon .input-icon {
        position: absolute;
        top: 0.6em;
        left: 0em;
        bottom: 0.6em;
        width: 3.4em;
        height: 3.4em;
        line-height: 3.4em;
        text-align: center;
        pointer-events: none;
    }
    
        .input-group-icon .input-icon:after {
            position: absolute;
            top: -0.2em;
            bottom: 0.7em;
            left: 3.4em;
            display: block;
            border-right: 1px solid #e5e5e5;
            content: "";
            -webkit-transition: 0.35s ease-in-out;
            -moz-transition: 0.35s ease-in-out;
            -o-transition: 0.35s ease-in-out;
            transition: 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
    .inputText:focus + .input-icon:after {
        border-right-color: var(--orange);
    }
.input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    font-size: 2em;
    font-weight: 600;
    color:gray;
}

.containerRegister input[type="radio"] {
    display: none;
}

.containerRegister input[type="radio"] + label,.containerRegister select {
        display: inline-block;
        width: 80%;
        text-align: center;
        float: left;
        border-radius: 0;
        font-weight: 500;
}
.containerRegister input[type="radio"] + label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.containerRegister input[type="radio"] + label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.containerRegister input[type="radio"] + label i {
    padding-right: 0.4em;
}

.containerRegister input[type="radio"]:checked + label, input:checked + label:before {
    background-color: #f0a500;
    color: #fff;
    border-color: #bd8200;
}
.containerRegister .input-group-radio{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:8px;
}
.containerRegister .input-group-radios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.containerRegister .rivenditoreClass {
        display: flex;
}
.containerRegister select:active, .containerRegister select:hover, .containerRegister select:focus {
    background-color: #f0a500;
    color: #fff;
    border-color: #bd8200;
}
.containerRegister select option {
    background-color: #fff;
    color: black;
}

.containerRegister .containerTextBox{
    align-items:center;
    width:50%;
}

.containerRegister .labelText{
    width:auto;
    font-weight:500;
    text-align:center;
    font-size:1.1em;
    margin-bottom:1em;
}
.containerRegister h6{
    font-size:1.1em;
    padding:0;
    margin:.5em 0;
    font-weight:500;
}
.containerRegister p {
    font-size: .8em;
    margin: .5em 0;
    padding: 0;
    font-style: italic;
}
.containerRegister .row-2 {
        width: auto;
        display: flex;
        justify-content: space-between;
        gap: 5px;
}

.containerRegister hr {
    border: 1px solid var(--orange);
    width:100%;
}

.containerRegister .btnContainer{
    display:flex;
    justify-content:center;
    align-items:center;
}

.containerRegister .btnContainer .btnRegistrati {
    background-color: var(--orange);
    color: #fff;
    font-weight: 500;
    padding: 1em;
    display: flex;
    gap: 1.1em;
    align-items: center;
    border-radius: 5px;
    text-decoration:none;
    margin-top:.5em;
}
.containerRegister .btnContainer .btnRegistrati:hover {
    background-color: var(--orangeLigth);
    transition: background-color 0.5s ease;
}
.containerRegister .textIcon{
    background:red;
}