<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--LUNA-->
    <add key="FormerDALSql.LUNA.WriteAllFieldEveryTime" value="True"/>
    
    <!-- AUTOSTART -->
    <add key="AutoStartSyncronizer" value="False"/>
    <add key="AutoStartService" value="False"/>
    <add key="AutoStartMessenger" value="False"/>
    <add key="AutoStartPrinter" value="False"/>
    <add key="AutoStartCaller" value="False"/>

    <!-- PRINTER -->
    <add key="Printer.PortaUdp" value="2456"/>
    <add key="Printer.Fatture" value="\\m5\Oki ML 280 Elite (IBM)"/>
    <add key="Printer.FattureOperatore" value="\\m5\Oki ML 280 Elite (IBM)"/>
    <add key="Printer.PDF" value="PDFCreator"/>
    <add key="Printer.BarcodeFatture" value="GP-80160(Cut) Series"/>
    <add key="Printer.Libera" value="\\HW20952-62\Samsung ML-1660 Series (Copy 1)"/>
    <add key="Printer.OperatoreComanda" value="\\HW20952-62\Samsung ML-1660 Series (Copy 1)"/>
    <add key="Printer.IsPrinterDaemon" value="True"/>
    
    <!-- MESSENGER -->
    <add key="Messenger-Interval-Mail" value="5"/>
    <add key="Messenger-Interval-Delay" value="500"/>

    <!-- CALLER -->
    <add key="Caller-PortaCom" value="COM1"/>
    <add key="Caller-PortaComInit" value="AT+VCID=1"/>
    <add key="Caller-PortaUdp" value="2456"/>

    <!-- SYNCRONIZER -->
    <add key="Syncronizer-Interval-NewOrd" value="1"/>
    <add key="Syncronizer-Interval-Syncro" value="1"/>
    <add key="Syncronizer-Interval-ProcGiorn" value="1"/>
    
    <!-- SERVICE -->
    <add key="Service-Interval-TxtToHCC" value="3"/>
    <add key="Service-Interval-IntervalloOrario" value="50"/>
    <add key="Service-Interval-NewVersion" value="5"/>

    <add key="Service-H-SpostamentoConsegne" value="21"/>
    <add key="Service-H-Backup" value="23"/>
    <add key="Service-H-DownloadLog" value="3"/>
    <add key="Service-H-MarketingBilanciato" value="4"/>
    <add key="Service-H-InvioFattureFE" value="22"/>
    <add key="Service-H-CleanTemp" value="5"/>
    <add key="Service-H-PromoAutomatici" value="1"/>
    
    <add key="Service-Colore1" value="Black"/>
    <add key="Service-Colore2" value="Yellow"/>
    <add key="Service-Colore3" value="Magenta"/>
    <add key="Service-Colore4" value="Cyan"/>
    
    <!--PREVENTIVI MAIL-->
    <add key="PreventiviMail.ServerPOP" value="pop3s.aruba.it"/>
    <add key="PreventiviMail.Email" value="richiestepreventivi@tipografiaformer.it"/>
    <add key="PreventiviMail.Password" value="t1p0gr4f14$"/>

    <!--ORDINI MAIL-->
    <add key="OrdiniMail.ServerPOP" value="pop3s.aruba.it"/>
    <add key="OrdiniMail.Email" value="ordini@tipografiaformer.it"/>
    <add key="OrdiniMail.Password" value="t1p0gr4f14$"/>
    
    <!--FTP SITO -->
    <!--<add key="FTP-Server" value="ftp.tipografiaformer.it"/>
    <add key="FTP-Login" value="1246360@aruba.it"/>
    <add key="FTP-Pwd" value="tghi9maeqa"/>-->

    <!--FTP-->
    <add key="Ftp.ServerNameProduzione" value="95.110.134.38"/>
    <add key="Ftp.ServerLoginProduzione" value="1246360@aruba.it"/>
    <add key="Ftp.ServerPwdProduzione" value="LfDa11ac7F"/>
    <!--<add key="Ftp.ServerNameSviluppo" value="former-server"/>-->
    <add key="Ftp.ServerNameSviluppo" value="localhost"/>
    <add key="Ftp.ServerLoginSviluppo" value="Administrator"/>
    <add key="Ftp.ServerPwdSviluppo" value="tgHi9MaEQA"/>
    <add key="Ftp.PassiveMode" value="True"/>

    <!--PATH GENERICI -->
    <!--<add key="PathDB" value="Z:\Former.mdb"/>
    <add key="PathBkpDB" value="E:\bkp\"/>-->
    <add key="Path.Template" value="Z:\FormerEsercizio\TemplateEmailMarketing\"/>
    <add key="Path.Fatture" value="Z:\Fatture\"/>
    <add key="Path.FattureFE" value="Z:\Fatture\FE\"/>
    <add key="Path.FattureAcquisto" value="Z:\FattureAcquisto\"/>
    <add key="Path.FileDigitale" value="Z:\Commesse\Digitale\"/>
    <add key="Path.FileRifiutati" value="Z:\Commesse\Rifiutati\"/>
    <add key="Path.Log" value="E:\FormerDemone\FormerEsercizio\log\"/>
    <add key="Path.LogCoupon" value="E:\FormerDemone\FormerEsercizio\log-coupon\"/>
    <add key="Path.Temp" value="Z:\temp\"/>
    <add key="Path.Commesse" value="Z:\Commesse\"/>
    <add key="Path.BkpFile" value="E:\Commesse\"/>
    <add key="Path.HCC" value="Z:\CIP3\"/>
    <add key="Path.CTP" value="J:\lavori\"/>
    <add key="Path.JOB" value="J:\pdf_ok\"/>
    <add key="Path.SorgentiHCC" value="J:\Pdf_PressPercent_Cip3\Exported\"/>
    <add key="Path.SorgentiHCC35x50" value="J:\Pdf_PressPercent_35x50\Exported\"/>
    <add key="Path.NewVer" value="Z:\FormerEsercizio\bin\Former\"/>
    <add key="Path.LogWeb" value="E:\FormerDemone\FormerEsercizio\log-web\"/>
    <add key="Path.FileBianco" value="Z:\FormerEsercizio\retrobianco.pdf"/>
    <add key="Path.HotFolderCreazioneAnteprimaPDFfromJOB" value="J:\FORMER\AnteprimaPdfdaJdf\"/>

    <!--GLS WEB SERVICE-->
    <!-- Dati reali -->
    <!--<add key="SedeGls" value="R2"/>
    <add key="CodiceClienteGls" value="183263"/>
    <add key="PasswordGls" value="183263"/>
    <add key="CodiceContrattoGls" value="2495"/>-->
    <!-- Fine dati reali -->
    <!-- Dati di test-->
    <add key="Gls.Sede" value="R2"/>
    <add key="Gls.CodiceCliente" value="119563"/>
    <add key="Gls.Password" value="119563"/>
    <add key="Gls.CodiceContratto" value="126"/>

    <add key="Altro.GiorniFerie" value="8-8;9-8;10-8;11-8;12-8;13-8;14-8;16-8;17-8;18-8;19-8;20-8;21-8;22-8;23-8;24-8"/>
    <!-- Fine dati di test-->

    <!--REFINE-->
    <add key="Refine.Server" value="HW20952-62"/>
    <add key="Path.RefineStart" value="\\hw20952-62\JobData\FORMER\Refine"/>
    <add key="Path.RefineSuccess" value="\\hw20952-62\JobData\FORMER\Refine\Input_Success"/>
    <add key="Path.RefineError" value="\\hw20952-62\JobData\FORMER\Refine\Input_Error"/>
    <add key="Path.RefineWarning" value="\\hw20952-62\JobData\FORMER\Refine\Input_Warning"/>
    <add key="Path.RefineCancelled" value="\\hw20952-62\JobData\FORMER\Refine\Input_Cancelled"/>
    <add key="Path.RefineResult" value="\\hw20952-62\JobData\Pdf_Ok\Refine"/>

  </appSettings>
  
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="FormerDaemon-Server"/> 
        </sharedListeners>
    </system.diagnostics>
  <connectionStrings>
    <!--<add name="FormerDALSql.ConnectionString" connectionString="Data Source=localhost\sqlexpress,1433;Initial Catalog=FormerSql;MultipleActiveResultSets=true;User Id=sa;Password=tgHi9MaEQA;Connect Timeout=0;Encrypt=false;Packet Size=4096;"/>-->
    <add name="FormerDALSql.ConnectionString" connectionString="Data Source=95.110.133.251,1433;Initial Catalog=FormerSql;MultipleActiveResultSets=true;User Id=sa;Password=abisoft2023;Encrypt=false;Packet Size=4096;Connection Timeout=10;" />
    <add name="FormerDALWeb.ConnectionString" connectionString="Data Source=95.110.133.251,1433;Initial Catalog=FormerWeb;MultipleActiveResultSets=true;User Id=sa;Password=abisoft2023;Encrypt=false;Packet Size=4096;Connection Timeout=10;" />
    <!--<add name="FormerDALWeb.ConnectionString" connectionString="Data Source=188.213.172.73\sqlexpress,1433;Initial Catalog=Formerweb;MultipleActiveResultSets=true;User Id=sa;Password=tgHi9MaEQA;Connect Timeout=10;Encrypt=false;Packet Size=4096;"/>-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IlsWebServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="IlsWebServiceSoap1"/>
        <binding name="wsCheckAddressSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="wsCheckAddressSoap2"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="IlsWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2097152" maxBufferSize="2097152" maxBufferPoolSize="2097152"/>
        </binding>
        <binding name="wsCheckAddressSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2097152" maxBufferSize="2097152" maxBufferPoolSize="2097152"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://labelservice.gls-italy.com/IlsWebService.asmx" binding="basicHttpBinding" bindingConfiguration="IlsWebServiceSoap" contract="GlsWS2.IlsWebServiceSoap" name="IlsWebServiceSoap"/>
      <endpoint address="https://labelservice.gls-italy.com/IlsWebService.asmx" binding="customBinding" bindingConfiguration="IlsWebServiceSoap12" contract="GlsWS2.IlsWebServiceSoap" name="IlsWebServiceSoap12"/>
      <endpoint address="https://checkaddress.gls-italy.com/wscheckaddress.asmx" binding="basicHttpBinding" bindingConfiguration="wsCheckAddressSoap2" contract="GlsCheckAddress.wsCheckAddressSoap" name="wsCheckAddressSoap2"/>
      <endpoint address="https://checkaddress.gls-italy.com/wscheckaddress.asmx" binding="customBinding" bindingConfiguration="wsCheckAddressSoap121" contract="GlsCheckAddress.wsCheckAddressSoap" name="wsCheckAddressSoap121"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
