<?xml version="1.0"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--LUNA SETTINGS-->
    <add key="FormerContactsDAL.LUNA.ShareConnection" value="False"/>
    <add key="FormerContactsDAL.LUNA.DisableLazyLoading" value="False"/>
    <add key="DataInizioEvento" value="15.09.2017"/>
    <add key="DataFineEvento" value="22.10.2017"/>
    <add key="TagEvento" value="#Viscom2017"/>
  </appSettings>
  <connectionStrings>
    <add name="FormerContactsDAL.ConnectionString" connectionString=""/>
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <!-- tolgo la pagina di default di IIS per gli errori 404 -->
      <remove statusCode="404" subStatusCode="-1"/>
      <!-- e la sostituisco con la mia -->
      <error statusCode="404" responseMode="ExecuteURL" path="/opsss"/>
    </httpErrors>
  </system.webServer>
</configuration>