
<!--********************************* -->
<!--LUNA ORM -	http://www.lunaorm.org -->
<!--********************************* -->
<!--Code created with Luna 4.4.18.26838  -->
<!--Author: Diego Lunadei -->
<!--Date: 30/09/2013  -->
<!--THIS FILE REPORT SETTING FOR LUNA FOR YOUR CONFIG FILE (WEB.CONFIG or APP.CONFIG) -->
<!--THIS FILE IS OPTIONAL! LUNA WORK BETTER WITH OR WITHOUT THIS FILE -->
<!--IF YOU NEED IoC ON LUNA YOU CAN SET WHERE IS THE MANAGER FOR EACH ENTITY-->
<!--IMPORTANT!!! REPLACE IN IOC LUNA SETTING "LUNADAO." WITH YOUR DAO ASSEMBLY NAME-->

<configuration>
    <appSettings>
        <!--LUNA SETTINGS-->
        <add key="LUNA.ShareConnection" value="False"/>
        <add key="LUNA.DisableLazyLoading" value="False"/>      
        <add key="LUNA.Ioc.ProviderFactory" value="System.Data.SqlClient"/>
                        <add key="LUNA.Ioc.Argomento" value="LUNADAO.ArgomentiDAO"/>
        <add key="LUNA.Ioc.Faq" value="LUNADAO.FaqDAO"/>
        <add key="LUNA.Ioc.Glossario" value="LUNADAO.GlossarioDAO"/>
        <add key="LUNA.Ioc.Reparto" value="LUNADAO.RepartiDAO"/>
        <add key="LUNA.Ioc.RichiestaRegistrazioneW" value="LUNADAO.RichiesteRegistrazioneWDAO"/>
        <add key="LUNA.Ioc.T_corriere" value="LUNADAO.T_corriereDAO"/>
        <add key="LUNA.Ioc.CurvaAttW" value="LUNADAO.CurvaAttWDAO"/>
        <add key="LUNA.Ioc.LavorazioneW" value="LUNADAO.LavorazioniWDAO"/>
        <add key="LUNA.Ioc.ListinoBaseW" value="LUNADAO.ListinoBaseWDAO"/>
        <add key="LUNA.Ioc.MacchinarioW" value="LUNADAO.MacchinariWDAO"/>
        <add key="LUNA.Ioc.PreventivazioneW" value="LUNADAO.PreventivazioniWDAO"/>
        <add key="LUNA.Ioc.PrezzoLavoroW" value="LUNADAO.PrezziLavoroWDAO"/>
        <add key="LUNA.Ioc.CatLavW" value="LUNADAO.CatLavWDAO"/>
        <add key="LUNA.Ioc.ColoreStampaW" value="LUNADAO.ColoriStampaWDAO"/>
        <add key="LUNA.Ioc.FormatoMacchinaW" value="LUNADAO.FormatiMacchinaWDAO"/>
        <add key="LUNA.Ioc.FormatoCartaW" value="LUNADAO.FormatiCartaWDAO"/>
        <add key="LUNA.Ioc.FormatoProdottoW" value="LUNADAO.FormatiProdottoWDAO"/>
        <add key="LUNA.Ioc.TipoCartaW" value="LUNADAO.TipiCartaWDAO"/>
        <add key="LUNA.Ioc.ComposizioneCartaW" value="LUNADAO.ComposizioneCartaWDAO"/>
        <add key="LUNA.Ioc.LavorazSuPreventivazW" value="LUNADAO.LavorazSuPreventivazWDAO"/>
        <add key="LUNA.Ioc.ResaW" value="LUNADAO.ResaWDAO"/>
        <add key="LUNA.Ioc.Utente" value="LUNADAO.UtentiDAO"/>
    </appSettings>
</configuration>