<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--LUNA IOC-->
    <!--<add key="FormerDAL.LUNA.Ioc.ProviderFactory" value="System.Data.OleDb" />-->
    <add key="FormerDALSql.LUNA.ShareConnection" value="False"/>
    <add key="FormerDALSql.LUNA.DisableLazyLoading" value="False"/>
    <add key="FormerDALSql.LUNA.WriteAllFieldEveryTime" value="True"/>
    <add key="FormerDALWeb.LUNA.Ioc.ProviderFactory" value="System.Data.SqlClient"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <!--PATH-->
    <add key="Path.Log" value="Z:\FormerEsercizio\Log\"/>
    <add key="Path.Temp" value="Z:\temp\"/>
    <add key="Path.Fatture" value="Z:\Fatture\"/>
    <add key="Path.FattureFE" value="Z:\Fatture\FE\"/>
    <add key="Path.FileDigitale" value="Z:\Commesse\Digitale\"/>
    <add key="Path.FileRifiutati" value="Z:\Commesse\Rifiutati\"/>
    <add key="Path.Template" value="Z:\FormerEsercizio\TemplateEmailMarketing\"/>
    <add key="Path.BannerSito" value="Z:\FormerEsercizio\BannerSito\"/>
    <add key="Path.Commesse" value="Z:\Commesse\"/>
    <add key="Path.FattureAcquisto" value="Z:\FattureAcquisto\"/>
    <add key="Path.FileListino" value="Z:\FormerEsercizio\Listino\"/>
    <add key="Path.CTP" value="J:\lavori\"/>
    <add key="Path.JOB" value="J:\pdf_ok\"/>
    <add key="Path.SorgentiRiOrdinoRisorse" value="Z:\SorgentiRiOrdinoRisorse\"/>
    <add key="Path.FileBianco" value="Z:\FormerEsercizio\retrobianco.pdf"/>
    <add key="Path.TemplateGanging" value="\\Hw20952-62\PgyEvoConfig\Preps\Templates\"/>
    <add key="Path.Preps8" value=""/>
    <add key="Path.HCC" value="Z:\CIP3\"/>
    
    <!--DATI REALI-->
    <!--<add key="Path.HotFolderCreazioneAnteprimaPDFfromJOB" value="\\HW20952-62\JobData\FORMER\AnteprimaPdfdaJdf\"/>-->
    <add key="Path.HotFolderCreazioneAnteprimaPDFfromJOB" value="J:\JobData\FORMER\AnteprimaPdfdaJdf\"/>
    
    <!--STAMPANTE-->
    <add key="Printer.ConsegnaOrdini" value="GP-80160(Cut) Series"/>
    <add key="Printer.Libera" value="\\HW20952-62\Samsung ML-1660 Series (Copy 1)"/>
    <add key="Printer.PDF" value="PDFCreator"/>
    <add key="Printer.FattureSnc" value="PDFCreator"/>
    <add key="Printer.FattureSrl" value="PDFCreator"/>
    <add key="Printer.InfoLavori" value="\\hw20952-62\Samsung ML-1660 Series (Copy 1)"/>
    <!--<add key="Printer.Fatture" value="\\LIDIA\iR2200 (FATTURE)"/>-->
    <!--<add key="Printer.FattureOperatore" value="Samsung ML-1640 Series"/>-->
    <add key="Printer.Etichette" value="PDFCreator"/>
    <add key="Printer.EtichetteGls" value="\\MAGAZZINO-PC\GLSPrinter"/>
    <add key="Printer.MargineXEtichette" value="40"/>
    <add key="Printer.MargineYEtichette" value="5"/>
    <add key="Printer.MargineXFatture" value="0"/>
    <add key="Printer.MargineYFatture" value="0"/>
    
    <add key="Environment.DaemonServer" value="Former-Service"/>
    <add key="Environment.TelerikTheme" value="VisualStudio2012Light"/>
    
    <!--GLS WEB SERVICE-->
    <!-- Dati reali -->
    <add key="Gls.Sede" value="R2"/>
    <add key="Gls.CodiceCliente" value="183263"/>
    <add key="Gls.Password" value="183263"/>
    <add key="Gls.CodiceContratto" value="2495"/>
    <!-- Fine dati reali -->
    <!-- Dati di test-->
    <!--<add key="Gls.CodiceCliente" value="119563"/>
    <add key="Gls.Password" value="119563"/>
    <add key="Gls.CodiceContratto" value="126"/>-->
    <!-- Fine dati di test-->

    <!--FTP-->
    <add key="Ftp.ServerNameProduzione" value="ftp.tipografiaformer.it"/>
    <add key="Ftp.ServerLoginProduzione" value="1246360@aruba.it"/>
    <add key="Ftp.ServerPwdProduzione" value="tghi9maeqa"/>
    <add key="Ftp.ServerNameSviluppo" value="former-server"/>
    <add key="Ftp.ServerLoginSviluppo" value="Administrator"/>
    <add key="Ftp.ServerPwdSviluppo" value="tgHi9MaEQA"/>
    <add key="Ftp.PassiveMode" value="True"/>

    <!--ALTRO-->
    <add key="Debug.DisabilitaLog" value="False"/>
    <add key="Debug.TracciamentoAttivo" value="False"/>
    <add key="Debug.BetaVersion" value="False"/>
    <add key="Debug.DebugAttivo" value="True"/>
    <add key="Altro.GiorniFerie" value="11-8;12-8;13-8;14-8;15-8;16-8;17-8;18-8;19-8;20-8;21-8;22-8;23-8;24-8;25-8;26-8"/>
    <add key="Altro.WithUIFileOperation" value="True"/>
    <add key="Altro.CaricamentiAutomatici" value="False"/>

    <!--PREVENTIVI-->
    <add key="PreventiviMail.ServerPOP" value="pop3s.aruba.it"/>
    <add key="PreventiviMail.Email" value="preventivi@tipografiaformer.com"/>
    <add key="PreventiviMail.Password" value="t1p0gr4f14$"/>

    <!--ORDINI-->
    <add key="OrdiniMail.ServerPOP" value="pop3s.aruba.it"/>
    <add key="OrdiniMail.Email" value="ordini@tipografiaformer.it"/>
    <add key="OrdiniMail.Password" value="t1p0gr4f14$"/>
  
  </appSettings>
  <connectionStrings>
    <!--SVILUPPO-->
    <!--<add name="FormerDALSql.ConnectionString" connectionString="Data Source=localhost\sqlexpress,1433;Initial Catalog=FormerSql;MultipleActiveResultSets=true;User Id=sa;Password=tgHi9MaEQA;Connect Timeout=0;Encrypt=false;Packet Size=4096;"/>-->
    <!--<add name="FormerDALWeb.ConnectionString" connectionString="Data Source=localhost\sqlexpress,1433;Initial Catalog=FormerWeb;MultipleActiveResultSets=true;User Id=sa;Password=tgHi9MaEQA;Connect Timeout=0;Encrypt=false;Packet Size=4096;"/>
    --><!--ESERCIZIO--><!--
    <add name="FormerDALSql.ConnectionString" connectionString="Data Source=former-server\sqlexpress,1433;Initial Catalog=FormerSql;MultipleActiveResultSets=true;User Id=sa;Password=tgHi9MaEQA;Connect Timeout=0;Encrypt=false;Packet Size=4096;"/>-->
    <!--<add name="FormerDALWeb.ConnectionString" connectionString="Data Source=188.213.172.73\sqlexpress,1433;Initial Catalog=FormerWeb;MultipleActiveResultSets=true;User Id=sa;Password=tgHi9MaEQA;Connect Timeout=0;Encrypt=false;Packet Size=4096;"/>-->
    <add name="FormerDALSql.ConnectionString" connectionString="Data Source=DESKTOP-9BGOPFL;Initial Catalog=FormerSql;MultipleActiveResultSets=true;Integrated Security=True;Encrypt=False;Packet Size=4096;Connection Timeout=10;" />
    <add name="FormerDALWeb.ConnectionString" connectionString="Data Source=DESKTOP-9BGOPFL;Initial Catalog=FormerWeb;MultipleActiveResultSets=true;Integrated Security=True;Encrypt=False;Packet Size=4096;Connection Timeout=10;" />
  </connectionStrings>  
  <system.diagnostics>
    <sources>
      <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IlsWebServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="IlsWebServiceSoap1"/>
        <binding name="wsCheckAddressSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="wsCheckAddressSoap2"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="IlsWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2097152" maxBufferSize="2097152" maxBufferPoolSize="2097152"/>
        </binding>
        <binding name="wsCheckAddressSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2097152" maxBufferSize="2097152" maxBufferPoolSize="2097152"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://labelservice.gls-italy.com/IlsWebService.asmx" binding="basicHttpBinding" bindingConfiguration="IlsWebServiceSoap" contract="GlsWS2.IlsWebServiceSoap" name="IlsWebServiceSoap"/>
      <endpoint address="https://labelservice.gls-italy.com/IlsWebService.asmx" binding="customBinding" bindingConfiguration="IlsWebServiceSoap12" contract="GlsWS2.IlsWebServiceSoap" name="IlsWebServiceSoap12"/>
      <endpoint address="https://checkaddress.gls-italy.com/wscheckaddress.asmx" binding="basicHttpBinding" bindingConfiguration="wsCheckAddressSoap2" contract="GlsCheckAddress.wsCheckAddressSoap" name="wsCheckAddressSoap2"/>
      <endpoint address="https://checkaddress.gls-italy.com/wscheckaddress.asmx" binding="customBinding" bindingConfiguration="wsCheckAddressSoap121" contract="GlsCheckAddress.wsCheckAddressSoap" name="wsCheckAddressSoap121"/>
    </client>
  </system.serviceModel>
</configuration>
